<div class="container p-4 line1">
  <div class="row">
    <p class="retour"><a href="../ajout_type_association/{{numSIREN_asso}}" class="btn btn-secondary" role="button"><span class="glyphicon glyphicon-arrow-left"></span><span> Retour</span></a></p>
  </div>

  <div class="row">
    <h2 class="titres">Ajoutez un type d'association</h2>
    <div class="row"  id="div_ajout_asso">
      <div class="col-md-4"  id="form_ajout_asso">
        <div class="card">
          <div class="card-body">
            <form action="./{{numSIREN_asso}}" method="post">

              <div class="form-group">
                <input type="text" name="libelle_type_asso" placeholder="Type d'association">
              </div>
              <div class="form-group">
                <input type="text" name="icone_type_asso" placeholder="Icone du type">
              </div>


              <div class="form-group">
                <button class="btn btn-success btn-block" type="submit" id="button_add_asso">
                  Ajouter
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
