<div class="container line1" id="div_a_propos">
  <h3 class="titres">A Propos</h3>

  <p>Beaucoup d'associations existent autours de nous, nous avons envie d'agir, mais ce n'est pas toujours
    facile de trouver  l'association qui te ressemble et partage tes valeurs.
    C'est pourquoi, <span class="gras">Trouve ton asso </span>t'offre la possibilité de trouver ton bonheur !
    Tu as envie de changer le monde : plus rien ne t'en empêche.
    Vas vite faire un tour sur notre page d'<span  class="gras">Accueil</span> pour faire une recherche personnalisée et enfin trouver la perle rare.
    Tu peux aussi faire un tour sur notre page <span  class="gras">Projets</span> où tu pourras voir comment aider des associations
    sans forcément être membre adhérent. Plusieurs associations ont besoin de gens motiver pour un projet en particulier.

    Si tu as des questions ou des remarques à nous communiquer, envoie nous un mail : </p>
</div>
