<div class="container line1" id="div_a_propos">
  <h3 class="titres">A Propos</h3>

  <h4>Beaucoup d'associations existent autours de nous, nous avons envie d'agir, mais ce n'est pas toujours
    facile de trouver  l'association qui te ressemble et partage tes valeurs.</h4>
  <h4>C'est pourquoi, <span class="gras">Trouve ton asso </span>t'offre la possibilité de trouver ton bonheur !
    Tu as envie de changer le monde : plus rien ne t'en empêche.</h4>
  <h4>Vas vite faire un tour sur notre page d'<span  class="gras">Accueil</span> pour faire une recherche personnalisée et enfin trouver la perle rare.
    Tu peux aussi faire un tour sur notre page <span  class="gras">Projets</span> où tu pourras voir comment aider des associations
    sans forcément être membre adhérent. Plusieurs associations ont besoin de gens motivés pour un projet en particulier.</h4>

    <h4>Si tu as des questions ou des remarques à nous communiquer, envoie nous un mail : </h4>

      <div class="row">
        <div class="col-md-7 mx-auto" id="form_propos">
          <div class="card">

            <div class="card-header">
              <h3 class="titres">Envoyer un email</h3>
            </div>

            <div class="card-body">

              <form action="/envoie_email" method="post">
                <div class="form-group">
                  <input type="email" name="email_personne" placeholder="Email" class="form-control" required>
                </div>
                <div class="form-group">
                  <input type="text" name="objet"  class="form-control"  placeholder="Objet">
                </div>
                <div class="form-group">
                  <textarea name="message"  class="form-control" placeholder="Message..." rows="8" cols="80"></textarea>
                </div>

                <!-- Open modal -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Envoyer</button>

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title titres">Envoie d'un email</h4>
                      </div>
                      <div class="modal-body">
                        <p>Etes-vous sûr de vouloir envoyer cet email ?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abandonner</button>
                        <button class="btn btn-success" type="submit">Envoyer</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>

</div>
