<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0"  class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img  class="img-responsive"  src="images/projets/livre.jpg" alt="Livres">
      <div class="carousel-caption">
        <h3>Education</h3>
        <p>Rejoignez-nous !</p>
      </div>
    </div>

    <div class="item">
      <img  class="img-responsive"  src="images/projets/pomme.jpg" alt="Pomme">
      <div class="carousel-caption">
        <h3>Environnement</h3>
        <p>Nous avons besoin de vous!</p>
      </div>
    </div>

    <div class="item">
      <img class="img-responsive" src="images/projets/genres.jpg" alt="Genres">
      <div class="carousel-caption">
        <h3>Education</h3>
        <p>Aidez-nous !</p>
      </div>
    </div>

    <div class="item">
      <img  class="img-responsive"  src="images/projets/poterie.jpg" alt="Poterie">
      <div class="carousel-caption">
        <h3>Art et Culure</h3>
        <p>Venez découvrir...</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="right carousel-control" href="#myCarousel"  role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
