<div class="container-fluid" id="footer">
  <p>Site internet réalisé dans le cadre d'un projet étudiant avec HTML5, CSS, NodeJS et Bootstrap - <a href="/super_administrateur/connexion">Super Administrateur</a></p>
</div>
