<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-fixed-top" id="header">
  <div class="container-fluid">

    <div>
      <!-- Logo -->
      <span id="spanSA">
      <a href="/super_administrateur/">
        <img class="img-responsive"  src="/images/logos/logo_trouve_ton_asso.png" alt="logo Trouve Ton Asso" id="logo_nav">
      </a>
      </span>
      <span id="spanSA2">
      <a href="/deconnexion" class="btn btn-info" id="deconnexion" >
        <span>Déconnexion</span>
      </a>
      </span>
    </div>
  </div>
</nav>
