
<!-- Header -->
<nav class="navbar navbar-expand-sm navbar-fixed-top" id="header">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="retractBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Logo -->
      <a href="/">
        <img class="img-responsive" src="/images/logos/logo_trouve_ton_asso.png" alt="logo Trouve Ton Asso" id="logo_nav">
      </a>
    </div>


    <!-- Pages -->
    <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="navbar-nav" id="pages">
          <li class="nav-item">
            <a href="/" class="btn btn-info" id="pagesAutre">
              <span>Accueil</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/liste_projet" class="btn btn-info" id="pagesAutre">
              <span>Projets</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/a_propos" class="btn btn-info" id="pagesAutre">
              <span>A Propos</span>
            </a>
          </li>

          {{#if personne}}
          <li class="nav-item">
            <a href="/profil" class="btn btn-info" id="pagesAutre">
              <span>Profil</span>
            </a>
          </li>
          {{/if}}

        </ul>

      <ul class="nav navbar-nav navbar-right"  id="connexionInscription">
        {{#unless personne}}
        <li>
          <a href="/connexion_association" class="btn btn-info" id="admin">
            <span>Association</span>
          </a>
        </li>

        <li>
          <a href="/connexion" class="btn btn-info" id="connexion">
            <span>Connexion</span>
          </a>
        </li>
        <li>
          <a href="/inscription" class="btn btn-info" id="inscription">
            <span>Inscription</span>
          </a>
        </li>
        {{/unless}}


        {{#if personne}}
        <li>
          <a href="/deconnexion" class="btn btn-info" id="deconnexion">
            <span>Déconnexion</span>
          </a>
        </li>
        {{/if}}

      </ul>

    </div>
  </div>
</nav>
