<!-- Header -->
<nav class="navbar navbar-expand-sm navbar-fixed-top" id="header">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="retractBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Logo -->
      <img class="img-responsive" src="/images/logos/logo_trouve_ton_asso.png" alt="logo Trouve Ton Asso" id="logo">
    </div>

    <!-- Pages -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav" id="pages">
        <li class="nav-item">
          <a href="/association" class="btn btn-info" id="pageActive">
            <span>Accueil</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-info" id="pagesAutre">
            <span>Projects</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-info" id="pagesAutre">
            <span>A Propos</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-info" id="pagesAutre">
            <span>Profil</span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right"  id="connexionInscription">
        <li>
          <a href="#" class="btn btn-info" id="connexion">
            <span>Connexion</span>
          </a>
        </li>
        <li>
          <a href="#" class="btn btn-info" id="inscription">
            <span>Inscription</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
