<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3 class="titres">Connexion</h3>
        </div>
        <div class="card-body">
          <img src="images/logos/logo_trouve_ton_asso.png" alt="logo_trouve_ton_asso" class="card-img-top mx-auto m-2 rounded-circle w-50">
          <form action="/connexion" method="post">
              <input type="email" name="email_personne" placeholder="Email" class="form-control" autofocus required>
            </div>
            <div class="form-group">
              <input type="password" name="mdp_personne" placeholder="Mot de passe" class="form-control" required>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">Connexion</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
