/*CSS reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*My CSS*/
#header{
  background-color: #d9d9d9;
}

#retractBar{
	background-color:  #cb1919;
	margin :1.5em;
}

.icon-bar{
	background-color:  white;
}


#logo{
  width: 6em;
}

#pages{
	margin : 1em;
}

#pages li{
	margin-left: 2em;
}

@media screen and (max-width: 480px) {
  #pages li, #connexionInscription li{
  	margin: 2em;
  }
}

#connexionInscription{
		margin : 1em;
}

#connexionInscription li{
		margin-right: 1em;
}

#pagesAutre{
  color: white;
  border-radius: 5px;
	border-color: #cb1919;
	padding: 0.8em;
	background-color: #cb1919;
}

#pagesAutre:hover{
  color: black;
}

#connexion, #inscription, #pageActive{
	color : black;
  border-color:  #cb1919;
  background-color: #ff5757;
  position: relative;
}

#connexion:hover, #inscription:hover, #pageActive:hover{
  color: white;
}

#footer{
  background-color: #d9d9d9;
  position: absolute;
  bottom: 0;
}

#footer p{
  text-align: center;
}
